body {
    background: url("../images/background.jpg");
    text-align: center;
}

h1 {
    color: orange;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    margin-top: 25px;
}

h3 {
    color: white;
}

p {
    color: white;
    font-weight: bold;
}

#word-display {
    font-size: 50px;
}